/* softerware icons*/
#webshell{
	background: url(/res/software_center.png);
	background-position: -0px -0px; width: 44px; height: 46px;
}
#ngrokd{
	background: url(/res/software_center.png);
	background-position: -0px -66px; width: 44px; height: 46px;
}
#entware{
	background: url(/res/software_center.png);
	background-position: -0px -132px; width: 44px; height: 46px;
}
#thunder{
	background: url(/res/software_center.png);
	background-position: -0px -198px; width: 44px; height: 46px;
}
#ss-server{
	background: url(/res/software_center.png);
	background-position: -0px -264px; width: 44px; height: 46px;
}
#dualwan_policy{
	background: url(/res/software_center.png);
	background-position: -0px -330px; width: 44px; height: 46px;
}
#aria2{
	background: url(/res/software_center.png);
	background-position: -0px -396px; width: 44px; height: 46px;
}
#shadowvpn{
	background: url(/res/software_center.png);
	background-position: -0px -462px; width: 44px; height: 46px;
}
#p2p{
	background: url(/res/software_center.png);
	background-position: -0px -528px; width: 44px; height: 46px;
}
#Transmission{
	background: url(/res/software_center.png);
	background-position: -0px -594px; width: 44px; height: 46px;
}
#v2ray{
	background: url(/res/software_center.png);
	background-position: -0px -660px; width: 44px; height: 46px;
}
#thunder_bird{
	background: url(/res/software_center.png);
	background-position: -0px -726px; width: 44px; height: 46px;
}
#speedtest{
	background: url(/res/software_center.png);
	background-position: 66px -0px; width: 44px; height: 46px;
}
#adm{
	background: url(/res/software_center.png);
	background-position: 66px -66px; width: 44px; height: 46px;
}
/* thunder popup content*/
.xware{
	width:700px;
	height:280px;
	position:absolute;
	background: rgba(0,0,0,0.85);
	z-index:10;
	margin-top:050px;
	margin-left:300px;
	border-radius:10px;
	display: none;
}
.xware_router_status{
	text-align:center;
	font-size:18px;
	padding:10px;
	font-weight:bold;
}
.xware_status{
	width:90%;
	background-color:#BEBEBE;
	color:#000;border-collapse:separate !important;
	border-radius:10px;
}
.xware_status th{
	text-align:left;
	border-bottom:1px solid #4D595D;
	padding-left:15px;
	font-size:14px;
}
.xware_status td{
	border-bottom:1px solid #4D595D;
	width:100px;
}
.xware_status td>div{
	/*background-color:#FF7575;*/ /*#1CFE16 for Yes button*/
	border-radius:10px;
	text-align:center;
	padding:3px 0px;
	width:100px;
}
/* ss-server popup content*/
.ssserver{
	width:700px;
	height:350px;
	position:absolute;
	background: rgba(0,0,0,0.8);
	z-index:10;
	margin-top:100px;
	margin-left:300px;
	border-radius:10px;
	display: none;
}
.ssserver_router_status{
	text-align:center;
	font-size:18px;
	padding:10px;
	font-weight:bold;
}
.ssserver_status{
	width:90%;
	background-color:#BEBEBE;
	color:#000;border-collapse:separate !important;
	border-radius:10px;
}
.ssserver_status th{
	text-align:left;
	border-bottom:1px solid #4D595D;
	padding-left:15px;
	font-size:14px;
}
.ssserver_status td{
	border-bottom:1px solid #4D595D;
	width:100px;
}
.ssserver_status td>div{
	/*background-color:#FF7575;*/ /*#1CFE16 for Yes button*/
	border-radius:10px;
	text-align:center;
	padding:3px 0px;
	width:100px;
}
/* others */
.software_action{
	margin-left:10px;
	font-family: Lucida Console;
	font-weight: bolder;
	font-size: 12px;
	cursor:pointer;
	color: #999;
